{% extends "base.html" %}

{% block content %}

<h2>Add Recipe</h2>
<hr>

<form class="card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        <label>Recipe name</label>
        <input name="receipe_name" required type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Recipe description</label>
        <textarea class="form-control" name="receipe_description" required></textarea>
    </div>

    <div class="form-group">
        <label>Recipe image</label>
        <input name="receipe_image" type="file" class="form-control">
    </div>

    <button type="submit" class="btn btn-success">Add Recipe</button>
</form>

<hr>

<div class="mt-5">
    <form>
        <label>Search food</label>
        <input name="search" type="text" class="form-control">
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </form>
</div>

<table class="table mt-5">
  <thead>
    <tr>
      <th>#</th>
      <th>Recipe name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for receipe in receipes %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ receipe.receipe_name }}</td>
      <td>{{ receipe.receipe_description }}</td>
      <td>
        {% if receipe.receipe_image %}
          <img src="{{ receipe.receipe_image.url }}" width="120">
        {% endif %}
      </td>
      <td>
        <a href="/delete-receipe/{{ receipe.id }}" class="btn btn-danger btn-sm">Delete</a>
        <a href="/update-receipe/{{ receipe.id }}" class="btn btn-success btn-sm">Update</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
